{% extends 'accueil.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <style>

        #produit_nomProduitDetail{
            display: none;
        }

        #produit_nombre{
            display: none;
        }

        #produit_prixDetail{
            display: none;
        }

    </style>
    <form name="search" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" id="search_nom" name="search[nom]" class="form-control bg-light border-0 small" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
     <div class="container col-md-8">
         {% for message in app.session.flashBag.get('success') %}
             <div id="flash-message" class="alert alert-success">{{ message }}</div>
         {% endfor %}
         {% for message in app.session.flashBag.get('danger') %}
             <div id="flash-message" class="alert alert-danger">{{ message }}</div>
         {% endfor %}
         {% if message %}
             <div class="alert alert-warning" role="alert">
                 {{ message }}
             </div>
         {% endif %}
     <div class="card ">
        <div class="card-header">
            <a class="m-4" href="{{ path('produit_liste') }}">Liste des produits</a>
        </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th>libelle</th>
                            <th>Stock</th>
                            <th>prixUnit</th>
                            <th>Montant</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% for produit in pagination %}
                            <tr>
                                <th>{{ produit.libelle }}</th>
                                <th>{{ produit.qtStock }}</th>
                                <th>{{ produit.prixUnit | number_format(0, ',', ' ') }}</th>
                                <th>{{ produit.total | number_format(0, ',', ' ') }}</th>
{#
                                <th>{{ produit.releaseDate|date('d-m-Y') }}</th>
#}
                                <th class="text-center">
                                    {% if is_granted('ROLE_GESTION_STOCK') %}
                                    <a title="Modifier" href="{{ path('produit_edit',{'id':produit.id}) }}" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                    <a title="supprimer" href="{{ path('produit_delete', {'id':produit.id}) }}" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash" aria-hidden="true" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"></i></a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ knp_pagination_render(pagination) }}
            </div>
     </div>
     </div>
        {% if is_granted('ROLE_GESTION_STOCK') %}
             <div class="container col-md-4">
                 <div class="card">
                     <div class="card-header">Formulaire d'ajout de produit</div>
                     <div class="card-body">
                         {{ form(form) }}
                     </div>
                 </div>
             </div>
        {% endif %}
 </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            while (flashMessage !== null) {
                flashMessage.remove();
                flashMessage = document.getElementById('flash-message');
            }
        }, 5000);
    </script>

    <script>
        // Récupérer le bouton radio
        function toggleElements(displayStyle) {
            nomProduitDetail.style.display = displayStyle;
            nombre.style.display = displayStyle;
            prixDetail.style.display = displayStyle;
        }

        var radioBtnOui = document.getElementById("produit_createDetail_0");
        var radioBtnNon = document.getElementById("produit_createDetail_1");

        var nomProduitDetail = document.getElementById("produit_nomProduitDetail");
        var nombre = document.getElementById("produit_nombre");
        var prixDetail = document.getElementById("produit_prixDetail");

        radioBtnOui.addEventListener("change", function() {
            toggleElements(radioBtnOui.checked ? "block" : "none");
        });

        radioBtnNon.addEventListener("change", function() {
            toggleElements(radioBtnNon.checked ? "none" : "block");
        });

    </script>

{% endblock %}
